Cliente2ProductoSWHibernate/src/conf/xml-resources/web-service-references/ProductoWS/wsdl/localhost_8080/ProductoHibernate4/ProductoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.services.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.services.cl/" name="ProductoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.services.cl/" schemaLocation="http://localhost:8080/ProductoHibernate4/ProductoWS?xsd=1" />
</xsd:schema>
</types>
<message name="IngresarProducto">
<part name="parameters" element="tns:IngresarProducto" />
</message>
<message name="IngresarProductoResponse">
<part name="parameters" element="tns:IngresarProductoResponse" />
</message>
<message name="BuscarProducto">
<part name="parameters" element="tns:BuscarProducto" />
</message>
<message name="BuscarProductoResponse">
<part name="parameters" element="tns:BuscarProductoResponse" />
</message>
<message name="ConsultarProducto">
<part name="parameters" element="tns:ConsultarProducto" />
</message>
<message name="ConsultarProductoResponse">
<part name="parameters" element="tns:ConsultarProductoResponse" />
</message>
<portType name="ProductoWS">
<operation name="IngresarProducto">
<input wsam:Action="http://webservices.services.cl/ProductoWS/IngresarProductoRequest" message="tns:IngresarProducto" />
<output wsam:Action="http://webservices.services.cl/ProductoWS/IngresarProductoResponse" message="tns:IngresarProductoResponse" />
</operation>
<operation name="BuscarProducto">
<input wsam:Action="http://webservices.services.cl/ProductoWS/BuscarProductoRequest" message="tns:BuscarProducto" />
<output wsam:Action="http://webservices.services.cl/ProductoWS/BuscarProductoResponse" message="tns:BuscarProductoResponse" />
</operation>
<operation name="ConsultarProducto">
<input wsam:Action="http://webservices.services.cl/ProductoWS/ConsultarProductoRequest" message="tns:ConsultarProducto" />
<output wsam:Action="http://webservices.services.cl/ProductoWS/ConsultarProductoResponse" message="tns:ConsultarProductoResponse" />
</operation>
</portType>
<binding name="ProductoWSPortBinding" type="tns:ProductoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="IngresarProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BuscarProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProductoWS">
<port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
<soap:address location="http://localhost:8080/ProductoHibernate4/ProductoWS" />
</port>
</service>
</definitions>